<!-- footer.component.html -->
<footer class="bg-success text-light p-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 ">
          <h4 class="fw-bold">Shop</h4>
          <ul class="list-unstyled">
            <li ><a routerLink="#" class="text-decoration-none text-white">Clothing</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Electronics</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Home & Furniture</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4  class="fw-bold">Help</h4>
          <ul class="list-unstyled">
            <li><a routerLink="#" class="text-decoration-none text-white" >Contact Us</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >FAQs</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Returns</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4  class="fw-bold">Policy</h4>
          <ul class="list-unstyled">
            <li><a routerLink="#" class="text-decoration-none text-white" >Return Policy</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Terms of Use</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4  class="fw-bold">Connect</h4>
          <ul class="list-unstyled">
            <li><a routerLink="#" class="text-decoration-none text-white" >Facebook</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Twitter</a></li>
            <li><a routerLink="#" class="text-decoration-none text-white" >Instagram</a></li>
          </ul>
        </div>
      </div>
      <hr class="bg-light">
      <p class="text-center">&copy; 2023 Your E-commerce Website. All rights reserved.</p>
    </div>
  </footer>
  