<app-header></app-header>
<!-- without item -->
<div *ngIf="wishlist.length==0"  class="d-flex justify-content-center  flex-column align-items-center" style="width: 100vw;" >
       <img src="https://static.oxinis.com/healthmug/image/healthmug/empty-wishlist.webp" alt="" width="500px" height="500px">
       <h2>Your Wishlist is empty</h2>
       <button class="btn btn-danger" routerLink="">Start Shopping</button>
</div>
<!-- with item -->
<section *ngIf="wishlist.length>0"  class="py-5" style="margin-top: 120px;">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-5" >
        <div *ngFor="let product of wishlist" class="col mb-5 p-5">
            <div  class="card h-100 p-1">
                <!-- Product image-->
               <a routerLink="/user/"> <img class="card-img-top" [src]="product.image" alt="..." width="100px" height="200px"/></a>
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.title}}</h5>
                        <!-- Product price-->
                      <h5> ${{product.price}}</h5>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent d-flex justify-content-between">
                 
                 
                    <button class="btn btn-white p-2 rounded border  btn-outline-danger" (click)="wishlistRemove(product._id)">
                        <i class="fa-solid fa-heart-circle-minus"></i>
                    </button>
                
                  <button class="btn btn-white p-2 rounded border btn-outline-success">
                    <i class="fa-solid fa-cart-shopping me-2"></i>
                    
                 </button>
                </div>
            </div>
            </div>
            </div>
</section>
<app-footer></app-footer>