<app-header></app-header>
<div class="container px-4 px-lg-5 my-5 py-5 shadow" style="margin-top: 200px;">
    <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-5 h-100"><img class="card-img-top mb-5 mb-md-0" [src]="product.image" alt="..." height="300px" width="50px"/></div>
        <div class="col-md-7 pt-5">
            <h1 class="display-6 fw-bolder">{{product.title}}</h1>
            <div class="fs-5 mb-5">
                <span>${{product.price}}</span>
            </div>
            <p class="lead fs-6">{{product.description}}</p>
            <div class="d-flex justify-content-between mt-2">
                <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                <button class="btn btn-outline-danger flex-shrink-0" type="button">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Add to cart
                </button>
                <button class="btn btn-outline-success flex-shrink-0" type="button" 
                (click)="addtoWishlist(product)"
                >
                    <i class="fa-regular fa-heart"></i>
                    Add to Wishlist
                </button>

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
