<app-header></app-header>
<!-- without item -->
<div class="d-flex justify-content-center  flex-column align-items-center" style="width: 100vw;" >
       <img src="https://static.oxinis.com/healthmug/image/healthmug/empty-wishlist.webp" alt="" width="500px" height="500px">
       <h2>Your Cart is empty</h2>
       <button class="btn btn-danger" routerLink="">Start Shopping</button>
</div>
<!-- with item -->
<section class="py-5 d-flex justify-content-between align-items-center flex-column" style="margin-top: 120px;">
    <div class="border">
        <h5>Cart Summary</h5>
        <table>
            <thead>
                <tr class="shadow">
                    <th class="px-4 py-3">#</th>
                    <th class="px-4 py-3">Product</th>
                    <th class="px-4 py-3">Image</th>
                    <th class="px-4 py-3">Quantity</th>
                    <th class="px-4 py-3">Total Price</th>
                    <th class="px-4 py-3">Action</th>
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of cart;let i = index">
                    <td class="px-4 py-3">{{i+1}}</td>
                    <td class="px-4 py-3">{{product.title}}</td>
                    <td class="px-4 py-3 "><img [src]="product.image" width="100px" alt=""></td>
                    <td class="px-4 py-3 d-flex mt-3 align-items-center">
                        <div class="d-flex">
                            <button class="btn fw-bolder fs-2" (click)="decrement(product.id)">-</button>
                            <input type="num" class="form-control" [value]="product.quantity" style="max-width: 3rem" readonly/>
                            <button class="btn fw-bolder fs-2" (click)="increment(product.id)">+</button>

                        </div>
                    </td>
                    <td>${{product.totalPrice}}</td>
                    <td class="px-4 py-3"><i class="fa-solid fa-trash text-danger btn" (click)="removeItem(product._id)"></i></td>
     
                </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center align-items-center mt-5">
            <button class="btn-danger btn me-2" (click)="emptyCart()">Empty Cart</button>
            <button class="btn-warning btn">Shop More</button>
        </div>
        <div class="d-flex justify-content-end me-5 mt-5"><p>TotalPrice:${{cartTotalPrice}}</p>
            <button class="text-info" (click)="checkout()">checkoutpage</button>
        </div>
    </div>

    
</section>
<app-footer></app-footer>